# {{{title}}} 

## {{{description}}}

=> gemini://sawv.org/posts.gmi  Posts
=> gemini://sawv.org/feed.gmi   Feed
language: en-us
creator: jr@sawv.org
last-modified: {{{lastmodified}}}

{{#items_loop}}
=> {{{link}}}    {{{title}}}
date: {{{created}}}

{{/items_loop}}
