title: {{{title}}} RSS3
description: {{{description}}}
link: {{{link}}}
language: en-us
creator: jr@sawv.org
last-modified: {{{lastmodified}}}
uri: {{{uri}}}
{{#items_loop}}

title: {{{title}}}
link: {{{link}}}
created: {{{created}}}
{{/items_loop}}
